@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Oswald:wght@200;400;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;1,400&family=Ubuntu:wght@300;400;500;700&display=swap");

/*Variables*/
$bg-navbar: #0c1621;
$bg-primary: #0e2336;
$bg-secundary: #295c88;
$text-color: white;
$main-color: #00b7ff;
$bg-degradado: linear-gradient(to top, $bg-primary, black);
$Animation1: Dtop 1.5s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins",  sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  width: 100%;
}

body {
  background-color: $bg-primary !important;
  color: $text-color !important;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: $bg-navbar;

    .logo {
      animation: $Animation1;
      img {
        width: 20rem;
      }
    }

    #menu-icon {
      font-size: 3.6rem;
      color: $text-color;
      cursor: pointer;
      display: none;

      &:hover {
        color: $main-color;
        text-shadow: 0 0 10px $main-color, 0 0 20px $main-color,
          0 0 30px $main-color;
      }
    }

    .navbar {
      animation: $Animation1;
      a {
        text-decoration: none;
        font-size: 2rem;
        color: $text-color;
        font-weight: 500;
        margin-left: 3.5rem;
        transition: 0.3s;
        transition: text-shadow 0.3s ease;

        &:hover {
          color: $main-color;
          text-shadow: 0 0 10px $main-color, 0 0 20px $main-color,
            0 0 30px $main-color;
        }
      }

      .active {
        color: $main-color;
        text-shadow: 0 0 10px $main-color, 0 0 20px $main-color,
          0 0 30px $main-color;
      }
    }
  }

  .Home {
    min-height: 100vh;
    background: $bg-degradado;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10%;
    position: relative;

    .Foto {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 27%;
      left: 60%;
      margin: 0;
      width: 40rem;
      height: 40rem;
      border-radius: 50%;
      box-shadow: 0 0 30px $main-color;
      background: radial-gradient(
        at center,
        white,
        rgb(0, 149, 255),
        rgb(0, 108, 184)
      );

      img {
        box-shadow: 0 0 10px 5px $main-color;
        border-radius: 50%;
        width: 360px;
        height: 360px;
        transition: 0.5s;
        margin: 2rem 0;
      }

      .circle-spin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-top: 0.3rem solid $bg-secundary;
        border-bottom: 0.3rem solid $bg-secundary;
        border-right: 0.3rem solid $main-color;
        border-left: 0.3rem solid $main-color;
        animation: RotationAbout 8s linear infinite;
      }

      .circle-spin2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0);
        width: 110%;
        height: 110%;
        border-radius: 50%;
        border-top: 0.3rem solid $bg-secundary;
        border-bottom: 0.3rem solid $bg-secundary;
        border-right: 0.3rem solid $main-color;
        border-left: 0.3rem solid $main-color;
        animation: RotationAbout2 8s linear infinite;
      }
    }

    .home-content {
      max-width: 70rem;

      h1 {
        font-size: 5.6rem;
        font-weight: 700;
        line-height: 1.5;
      }

      .text-animate {
        position: relative;
        width: 45rem;

        h3 {
          font-size: 4rem;
          font-weight: 700;
          color: transparent;
          -webkit-text-stroke: $main-color 0.7px;
          background-image: linear-gradient($main-color, $bg-secundary);
          background-repeat: no-repeat;
          -webkit-background-clip: text;
          background-position: 0 0;
          text-shadow: 0 0 15px $main-color;
          animation: homeBgtext 5s linear infinite;
          animation-delay: 2s;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            border-right: solid 2px $main-color;
            z-index: -1;
            animation: homecursortext 5s linear infinite;
            animation-delay: 2s;
          }
        }
      }

      p {
        font-size: 2rem;
        margin: 2rem 0 4rem;
      }
    }

    .btn-box {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 35rem;
      height: 5rem;

      .btn {
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 100%;
        border: solid 0.2rem $main-color;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        color: $main-color;
        transition: 0.3s;
        transition: box-shadow 0.3s ease;

        &:hover {
          box-shadow: 0 0 5rem $main-color;
          color: $text-color;
          background: linear-gradient(to bottom, $main-color, #009cd9);
        }
      }
    }

    .home-rds {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: absolute;
      bottom: 4rem;
      width: 20rem;

      a {
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: solid 0.2rem $main-color;
        border-radius: 50%;
        transition: 0.5s;
        transition: box-shadow 0.3s ease;

        i {
          font-size: 2.5rem;
        }

        &:hover {
          box-shadow: 0 0 5rem $main-color;
          color: $text-color;
        }
      }
    }
  }

  .About {
    position: relative;
    background: linear-gradient(to top, $bg-secundary, $bg-primary);
    position: relative;
    padding: 0 10%;
    padding-top: 13rem;
    padding-bottom: 10rem;
    text-align: center;

    .heading {
      font-family: "Kenia", sans-serif;
      font-size: 5rem;

      span {
        font-family: "Kenia", sans-serif;
        color: $main-color;
      }
    }

    .about-content {
      max-width: 100%;
      max-height: 100%;
      margin-top: 1rem;
      padding-bottom: 4rem;

      #carouselExample {
        .carousel-item {
          transition: opacity 0.4s ease-in-out;
          opacity: 0;
        }

        .carousel-item.active {
          opacity: 1;
        }

        #Acontenedor {
          margin: auto;
          margin-bottom: 1rem;
          max-width: 100%;
          padding: 2rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }

        .card {
          max-width: 100rem;

          h1 {
            font-size: 24pt;
          }

          .image-container {
            position: relative;
            width: 26rem;
            height: 26rem;

            img {
              box-shadow: 0 0 10px 5px $main-color;
              border-radius: 50%;
              max-width: 225px;
              height: 225px;
              transition: 0.5s;
              margin: 2rem 0;
            }

            .circle-spin {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(0);
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border-top: 0.3rem solid $bg-secundary;
              border-bottom: 0.3rem solid $bg-secundary;
              border-right: 0.3rem solid $main-color;
              border-left: 0.3rem solid $main-color;
              animation: RotationAbout 8s linear infinite;
            }

            .circle-spin2 {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(0);
              width: 110%;
              height: 110%;
              border-radius: 50%;
              border-top: 0.3rem solid $bg-secundary;
              border-bottom: 0.3rem solid $bg-secundary;
              border-right: 0.3rem solid $main-color;
              border-left: 0.3rem solid $main-color;
              animation: RotationAbout2 8s linear infinite;
            }
          }

          hr {
            border: none;
            border-bottom: solid 2px $main-color;
            border-radius: 15px;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50vw solid black; /* Ancho del triángulo (mitad del ancho de la pantalla) */
        border-right: 50vw solid black; /* Ancho del triángulo (mitad del ancho de la pantalla) */
        border-top: 100px solid transparent;
      }
    }
  }

  .SKills {
    position: relative;
    padding: 0 10%;
    padding-top: 13rem;
    padding-bottom: 10rem;
    background: linear-gradient(to top, rgb(113, 113, 113), black);

    #MY {
      text-align: center;
      font-family: "Kenia", sans-serif;
      font-size: 5rem;

      span {
        font-family: "Kenia", sans-serif;
        color: $main-color;
      }
    }

    .skill-container {
      max-width: 100%;
      max-height: 100%;
      margin-top: 4rem;
      margin-bottom: 8rem;
      padding-bottom: 4rem;
      border: solid $main-color 2px;
      box-shadow: 0 0 5rem $main-color;
      text-align: center;
      justify-content: center;

      #ln {
        padding: 2rem;
        font-size: 22pt;
        margin: auto;
        margin-top: 2rem;
      }

      #FW,
      #PR {
        padding: 2rem;
        font-size: 22pt;
        margin: auto;
      }

      .card {
        background: transparent;
        width: 15rem;
        margin: 2rem 0;
        text-align: center;
        border: none;

        .icon {
          width: 100%;
          height: 15rem;
          border-radius: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;

          i {
            font-size: 130px;
          }

          img {
            width: 13rem;
          }
        }

        .Stitle {
          position: absolute;
          width: 100%;
          top: 50%;
          opacity: 0;
          transition: all 0.6s ease-in-out;

          h5 {
            color: $text-color;
            font-size: 17pt;
            font-weight: bold;
            margin-top: 1rem;
          }
        }
      }

      .lenguages {
        display: flex;
        flex-wrap: wrap;

        .owl-carousel-2 {
          display: flex;
          height: 25rem;

          .item {
            display: flex;
            justify-content: center;
          }

          #HTML {
            i {
              color: #e44d26;
            }
            &:hover {
              .icon {
                cursor: pointer;
                background-color: #e44d26;
                box-shadow: 0 0 2rem 0.5rem #fd7b5a;
                transition: box-shadow 0.5s;
                i {
                  color: white;
                }
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }

          #CSS {
            i {
              color: #2d92cd;
            }
            &:hover {
              .icon {
                cursor: pointer;
                background-color: #2d92cd;
                box-shadow: 0 0 2rem 0.5rem #3bb3f8;
                transition: box-shadow 0.5s;
                i {
                  color: white;
                }
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }

          #JAVASCRIPT {
            i {
              color: #f0c02b;
            }
            &:hover {
              .icon {
                cursor: pointer;
                background-color: #f0c02b;
                box-shadow: 0 0 2rem 0.5rem #ffd042;
                transition: box-shadow 0.5s;
                i {
                  color: white;
                }
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }

          #C {
            filter: grayscale(50%);
            &:hover {
              filter: grayscale(0%);
              .icon {
                cursor: pointer;
                background-color: rgb(59, 204, 248);
                box-shadow: 0 0 2rem 0.5rem rgb(59, 204, 248);
                transition: box-shadow 0.5s;
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }

          #JAVA {
            filter: grayscale(50%);
            &:hover {
              filter: grayscale(0%);
              .icon {
                cursor: pointer;
                background-color: white;
                box-shadow: 0 0 2rem 0.5rem white;
                transition: box-shadow 0.5s;
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }
        }
      }

      .frameworks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4rem;

        #BOOTSTRAP {
          i {
            color: white;
          }
          &:hover {
            .icon {
              cursor: pointer;
              background-color: #702df5;
              box-shadow: 0 0 2rem 0.5rem #af8bf7;
              transition: box-shadow 0.5s;
              i {
                color: white;
              }
            }

            .Stitle {
              top: 100%;
              opacity: 1;
            }
          }
        }
      }
      .PREPOCESSOR {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4rem;
        #SASS {
          i {
            color: #cd669a;
          }
          &:hover {
            .icon {
              cursor: pointer;
              background-color: #cd669a;
              box-shadow: 0 0 2rem 0.5rem #fa9aca;
              transition: box-shadow 0.5s;
              i {
                color: white;
              }
            }

            .Stitle {
              top: 100%;
              opacity: 1;
            }
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50vw solid $bg-primary; /* Ancho del triángulo (mitad del ancho de la pantalla) */
      border-right: 50vw solid $bg-primary; /* Ancho del triángulo (mitad del ancho de la pantalla) */
      border-top: 100px solid transparent;
    }
  }

  .Projects {
    position: relative;
    background: linear-gradient(to top, $bg-secundary, $bg-primary);
    padding: 0 10%;
    padding-top: 13rem;
    padding-bottom: 5rem;

    #MY {
      text-align: center;
      font-family: "Kenia", sans-serif;
      font-size: 5rem;

      span {
        font-family: "Kenia", sans-serif;
        color: $main-color;
      }
    }

    .projects-container {
      margin-top: 2.5rem;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      .owl-carousel-1 {
        display: flex;
        flex-wrap: wrap;

        .item {
          display: flex;
          justify-content: center;
        }

        .card {
          margin: 2rem;
          color: $text-color;
          background-image: url("../img/1288491.jpg");
          background-size: cover;
          background-position: center;
          padding: 16rem 0 0;
          border: none;
          width: 100%;
          height: 40rem;
          max-width: 50ch;
          border-radius: 1rem;
          overflow: hidden;
          transition: all 0.3s ease-in-out;

          .card-container {
            border-radius: 1rem;
            background: linear-gradient(
              to top,
              rgb(0, 0, 0),
              rgba(0, 0, 0, 0.9),
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.4)
            );

            transform: translateY(84%);
            transition: transform 0.5s ease-in-out;
            height: 100%;

            .card-body {
              text-align: center;

              .card-title {
                font-weight: bold;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  height: 0.4rem;
                  background-color: $main-color;
                  width: 120%;
                  left: -1.5rem;
                  bottom: 0;
                  transform: scaleX(0);
                  transition: all 0.3s ease-in-out;
                }
              }

              .card-text {
                opacity: 0;
                transition: opacity 1s ease-in-out;
                text-align: justify;
              }

              #Spans {
                opacity: 0;
                transition: opacity 1s ease-in-out;
                transition-delay: 500ms;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                gap: 0.5rem;

                span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 0.3rem;
                  gap: 0.5rem;
                }

                #SpHTML {
                  background-color: #e44d26;
                  border-radius: 0.5rem;
                }

                #SpCSS {
                  background-color: #2d92cd;
                  border-radius: 0.5rem;
                }
                #SpJavascript {
                  background-color: #f0c02b;
                  border-radius: 0.5rem;
                }
                #SpBootstrap {
                  background-color: #702df5;
                  border-radius: 0.5rem;
                }
                #SpSASS {
                  background-color: #cd669a;
                  border-radius: 0.5rem;
                }
              }

              #Enlaces {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                a {
                  position: relative;
                  display: inline-flex;
                  flex-wrap: wrap;
                  margin: 0 0.8rem;
                  margin-top: 2rem;
                  text-decoration: none;
                  justify-content: center;
                  align-items: center;
                  width: 40px;
                  height: 40px;
                  background: transparent;
                  border: solid 0.2rem $main-color;
                  border-radius: 50%;
                  transition: 0.5s;
                  transition: box-shadow 0.3s ease;
                  opacity: 0;
                  transition: opacity 1s ease-in-out;
                  transition-delay: 1s;

                  i {
                    font-size: 2.5rem;
                  }

                  &:hover {
                    box-shadow: 0 0 1rem 0.5rem $main-color;
                    color: $text-color;
                  }
                }
              }
            }
          }

          &:hover {
            box-shadow: 0 0 1rem 0.5rem $main-color;
            transform: scale(1.05);
            cursor: pointer;
            transition-duration: 0ms;

            .card-container,
            .card:focus-within .card-container {
              transform: translateY(0%);
              transition-delay: 250ms;
              .card-body {
                .card-title {
                  &::after {
                    transform: scaleX(1);
                  }
                }
                .card-text {
                  opacity: 1;
                }

                #Spans {
                  opacity: 1;
                }

                #Enlaces {
                  a {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }

      .viewm {
        display: flex;
        flex-wrap: wrap;

        #viewmp {
          a {
            border: solid 0.2rem $main-color;
            position: relative;
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 25rem;
            height: 100%;
            border-radius: 1rem;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
            transition: 0.3s;
            transition: box-shadow 0.3s ease;
            color: $main-color;
            text-decoration: none;

            &:hover {
              box-shadow: 0 0 3rem $main-color;
              color: $text-color;
              background: linear-gradient(to bottom, $main-color, #009cd9);
            }
          }
        }
      }
    }
  }

  .Contact {
    min-height: auto;
    position: relative;
    background: linear-gradient(to bottom, $bg-secundary, $bg-primary);
    padding: 0 10%;
    padding-top: 10rem;
    padding-bottom: 7rem;

    #contact {
      text-align: center;
      font-family: "Kenia", sans-serif;
      font-size: 5rem;

      span {
        font-family: "Kenia", sans-serif;
        color: $main-color;
      }
    }

    form {
      max-width: 70rem;
      margin: 1rem auto;
      text-align: center;

      .input-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .input-field {
          position: relative;
          width: 49%;
          margin: 0.8rem 0;

          input {
            width: 100%;
            height: 100%;
            padding: 1.5rem;
            font-size: 1.6rem;
            color: $text-color;
            background: transparent;
            border-radius: 0.6rem;
            border: solid $main-color 2px;

            &::placeholder {
              color: $text-color;
            }
          }
        }
      }

      .textarea-field {
        position: relative;
        margin: 0.8rem 0 2.7rem;
        display: flex;

        textarea {
          width: 100%;
          height: 100%;
          padding: 1.5rem;
          font-size: 1.6rem;
          color: $text-color;
          background: transparent;
          border-radius: 0.6rem;
          resize: none;
          border: solid $main-color 2px;

          &::placeholder {
            color: $text-color;
          }
        }
      }

      .btn-box {
        margin-top: 3rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 5rem;
        justify-content: center;

        .btn {
          position: relative;
          width: 15rem;
          height: 100%;
          border: solid 0.2rem $main-color;
          border-radius: 1rem;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 0.1rem;
          color: $main-color;
          transition: 0.3s;
          transition: box-shadow 0.3s ease;

          &:hover {
            box-shadow: 0 0 5rem $main-color;
            color: $text-color;
            background: linear-gradient(to bottom, $main-color, #009cd9);
          }
        }
      }

    }
  }
}

@keyframes homeBgtext {
  0%,
  10%,
  100% {
    background-position: -50rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homecursortext {
  0%,
  10%,
  100% {
    width: 0;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

@keyframes RotationAbout {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes RotationAbout2 {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@media (hover) {
}
