@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Oswald:wght@200;400;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;1,400&family=Ubuntu:wght@300;400;500;700&display=swap");

/*Variables*/
$bg-navbar: #0c1621;
$bg-primary: rgb(14, 35, 54);
$bg-secundary: rgb(41, 92, 136);
$text-color: #ffffff;
$main-color: #00b7ff;
$bg-degradado: linear-gradient(to top, $bg-primary, rgb(0, 0, 0));
$Animation1: Dtop 1.5s ease-in-out;

$bg-navbar-light: #248eff;
$bg-primary-light: rgb(105, 185, 255); 
$bg-secundary-light: #51aeff;
$before-background: rgb(0, 0, 0);

:root {
  --bg-navbar: #{$bg-navbar};
  --bg-primary: #{$bg-primary};
  --bg-secundary: #{$bg-secundary};
  --text-color: #{$text-color};
  --main-color: #{$main-color};
  --bg-degradado: #{$bg-degradado};
  --Animation1: #{$Animation1};

  --bg-navbar-light: #{$bg-navbar-light};
  --bg-primary-light: #{$bg-primary-light};
  --bg-secundary-light: #{$bg-secundary-light};
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins",  sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  width: 100%;
  color: $text-color;
}

body {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--bg-navbar);;

    .logo {
      animation: $Animation1;
      img {
        width: 20rem;
      }
    }

    #leng {
      position: absolute;
      left: 58rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color;
      background-color: transparent;

      img {
        width: 4rem;
      }

      span {
        font-size: 2rem;
      }
    }

    #Btheme {
      position: absolute;
      left: 52rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-color;
      background-color: transparent;

      i {
        font-size: 3rem;
      }
    }

    .navbar-toggler {
      background-color: transparent;
      display: none;
    }

    .navbar {
      animation: $Animation1;

      #navbar {
        .navbar-nav {
          gap: 3rem;
          .nav-item {
            padding: 0 0.5rem;
            .nav-link {
              display: flex;
              text-decoration: none;
              font-size: 2rem;
              color: $text-color;
              font-weight: 700;
              transition: 0.3s;
              transition: text-shadow 0.3s ease;

              &:hover {
                color: $main-color;
                text-shadow: 0 0 1rem $main-color, 0 0 2rem $main-color,
                  0 0 3rem $main-color;
                  transition: all 0.5s ease-in-out;
              }

              .active {
                color: $main-color;
                text-shadow: 0 0 10px $main-color, 0 0 20px $main-color,
                  0 0 30px $main-color;
              
              }
            }
          }
        }
      }
    }

    
  }

  .Home {
    color: $text-color;
    height: 80rem;
    display: flex;
    align-items: center;
    padding: 0 10%;
    gap: 5rem;
    position: relative;
    transition: all 0.5s ease-in-out;

    .FondoHome{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease-in-out;
      z-index: -1;
    }

    #fondoH1 {
      background: $bg-degradado; /* Degradado por defecto */
      opacity: 1;
  }
    
    #fondoH2 {
      background: linear-gradient(to top, rgb(255, 255, 255), $bg-primary-light); /* Nuevo degradado */
      opacity: 0;
    }

    .ImgF {
      position: relative;

      .Foto {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38rem;
        height: 38rem;
        border-radius: 50%;
        box-shadow: 0 0 30px $main-color;
        background: radial-gradient(
          at center,
          rgb(255, 255, 255),
          rgb(0, 149, 255),
          rgb(0, 108, 184)
        );

        img {
          box-shadow: 0 0 10px 5px $main-color;
          border-radius: 50%;
          width: 34rem;
          height: 34rem;
          transition: 0.5s;
        }

        .circle-spin {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(0);
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border-top: 0.3rem solid $bg-secundary;
          border-bottom: 0.3rem solid $bg-secundary;
          border-right: 0.3rem solid $main-color;
          border-left: 0.3rem solid $main-color;
          animation: RotationAbout 8s linear infinite;
        }

        .circle-spin2 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(0);
          width: 110%;
          height: 110%;
          border-radius: 50%;
          border-right: 0.4rem solid $main-color;
          border-left: 0.3rem solid $main-color;
          animation: RotationAbout2 8s linear infinite;
        }
      }
    }
    
    .home-content {
      width: 100%;
      max-width: 70rem;
      position: relative;
      z-index: 2;

      #I {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.5;
      }

      .text-animate {
        position: relative;
        width: 45rem;

        h3 {
          font-size: 4rem;
          font-weight: 700;
          color: transparent;
          -webkit-text-stroke: $main-color 0.7px;
          background-image: linear-gradient($main-color, $bg-secundary);
          background-repeat: no-repeat;
          -webkit-background-clip: text;
          background-position: 0 0;
          text-shadow: 0 0 15px $main-color;
          animation: homeBgtext 5s linear infinite;
          animation-delay: 2.05s;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            border-right: solid 2px $main-color;
            z-index: -1;
            animation: homecursortext 5s linear infinite;
            animation-delay: 2s;
          }
        }
      }

      p {
        font-size: 2rem;
        margin: 2rem 0 4rem;
      }
    }

    .btn-box {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 35rem;
      height: 5rem;

      .btn {
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 100%;
        border: solid 0.2rem $main-color;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        color: $main-color;
        transition: 0.3s;
        transition: box-shadow 0.3s ease;

        &:hover,
        &:active {
          box-shadow: 0 0 3rem $main-color;
          color: $text-color;
          background: linear-gradient(to bottom, $main-color, #009cd9);
        }
      }
    }

    .home-rds {
      display: flex;
      position: absolute;
      bottom: -30%;
      width: 100%;
      gap: 3rem;

      a {
        text-decoration: none;
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        color: $main-color;
        background: transparent;
        border: solid 0.2rem $main-color;
        border-radius: 50%;
        transition: 0.5s;
        transition: box-shadow 0.3s ease;

        i {
          font-size: 2.5rem;
        }

        &:hover {
          box-shadow: 0 0 5rem $main-color;
          color: $text-color;
        }
      }
    }
  }

  .About {
    --before-background: #{$before-background};
    position: relative;
    padding: 0 10%;
    text-align: center;
    transition: all 0.5s ease-in-out;

    .FondoAbout{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease-in-out;
      z-index: -1;
    }

    #fondoA1 {
      background: linear-gradient(to top, $bg-secundary, rgb(12, 30, 46)); /* Degradado por defecto */
      opacity: 1;
  }
    
    #fondoA2 {
      background: linear-gradient(to top, rgb(180, 180, 180), rgb(235, 246, 255)); /* Nuevo degradado */
      opacity: 0;
    }

    .heading {
      font-family: "Kenia", sans-serif;
      font-size: 5rem;

      span {
        font-family: "Kenia", sans-serif;
      }

      #M {
        color: $main-color;
      }
    }

    .about-content {
      max-width: 100%;
      max-height: 100%;
      margin-top: 1rem;
      padding-bottom: 4rem;

      #carouselExample {
        .carousel-item {
          transition: opacity 0.4s ease-in-out;
          opacity: 0;
        }

        .carousel-item.active {
          opacity: 1;
        }

        #Acontenedor {
          margin: auto;
          margin-bottom: 1rem;
          max-width: 100%;
          padding: 2rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }

        .card {
          max-width: 100rem;

          h1 {
            font-size: 4rem;
          }

          .image-container {
            position: relative;
            width: 26rem;
            height: 26rem;

            img {
              box-shadow: 0 0 10px 5px $main-color;
              border-radius: 50%;
              max-width: 22.5rem;
              height: 22.5rem;
              transition: 0.5s;
              margin: 2rem 0;
            }

            .circle-spin {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(0);
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border-top: 0.3rem solid $bg-secundary;
              border-bottom: 0.3rem solid $bg-secundary;
              border-right: 0.3rem solid $main-color;
              border-left: 0.3rem solid $main-color;
              animation: RotationAbout 8s linear infinite;
            }

            .circle-spin2 {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(0);
              width: 110%;
              height: 110%;
              border-radius: 50%;
              border-top: 0.3rem solid $bg-secundary;
              border-bottom: 0.3rem solid $bg-secundary;
              border-right: 0.3rem solid $main-color;
              border-left: 0.3rem solid $main-color;
              animation: RotationAbout2 8s linear infinite;
            }
          }

          .text-container{
            padding-top: 1rem;
          }

          hr {
            border: none;
            border-bottom: solid 2px $main-color;
            border-radius: 15px;
          }
        }

        .carousel-control-prev,
        .carousel-control-next {
          .carousel-control-prev-icon,
          .carousel-control-next-icon {
            width: 4rem;
            height: 4rem;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50vw solid var(--before-background); /* Ancho del triángulo (mitad del ancho de la pantalla) */
        border-right: 50vw solid var(--before-background); /* Ancho del triángulo (mitad del ancho de la pantalla) */
        border-top: 100px solid transparent;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .SKills {
    --bg-before: #0e2336;
    position: relative;
    padding: 0 10%;
    padding-bottom: 1rem;
    transition: all 0.5s ease-in-out;

    .FondoSkills{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease-in-out;
      z-index: -1;
    }

    #fondoS1 {
      background: linear-gradient(to top, rgb(113, 113, 113), rgb(0, 0, 0)); /* Degradado por defecto */
      opacity: 1;
  }
    
    #fondoS2 {
      background: linear-gradient(to top, rgb(182, 251, 182), rgb(255, 255, 255), rgb(180, 180, 180)); /* Nuevo degradado */
      opacity: 0;
    }

    #MY {
      text-align: center;
      font-family: "Kenia", sans-serif;
      font-size: 5rem;

      span {
        font-family: "Kenia", sans-serif;
      }

      #S {
        color: $main-color;
      }
    }

    .skill-container {
      max-width: 100%;
      max-height: 100%;
      margin-top: 4rem;
      margin-bottom: 13rem;
      padding-bottom: 4rem;
      border: solid $main-color 2px;
      background-color: rgba(14, 35, 54, 0.25);
      box-shadow: 0 0 5rem $main-color;
      text-align: center;
      justify-content: center;

      #ln {
        padding: 2rem;
        font-size: 3rem;
        margin: auto;
        margin-top: 2rem;
      }

      #FW,
      #PR {
        padding: 2rem;
        font-size: 3rem;
        margin: auto;
      }

      .card {
        background: transparent;
        width: 15rem;
        margin: 2rem 0;
        text-align: center;
        border: none;

        .icon {
          width: 100%;
          height: 15rem;
          border-radius: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;

          i {
            font-size: 13rem;
          }

          img {
            width: 13rem;
          }
        }

        .Stitle {
          position: absolute;
          width: 100%;
          top: 50%;
          opacity: 0;
          transition: all 0.6s ease-in-out;

          h5 {
            color: $text-color;
            font-size: 2rem;
            font-weight: bold;
            margin-top: 1rem;
          }
        }
      }

      .lenguages {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;

        .owl-carousel-2 {
          .item {
            display: flex;
            justify-content: center;
            height: 23rem;
          }

          #HTML {
            height: 15rem;
            i {
              color: #e44d26;
            }
            &:hover,
            &:active {
              .icon {
                cursor: pointer;
                background-color: #e44d26;
                box-shadow: 0 0 2rem 0.5rem #fd7b5a;
                transition: box-shadow 0.5s;
                i {
                  color: white;
                }
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }

          #CSS {
            height: 15rem;
            i {
              color: #2d92cd;
            }
            &:hover,
            &:active {
              .icon {
                cursor: pointer;
                background-color: #2d92cd;
                box-shadow: 0 0 2rem 0.5rem #3bb3f8;
                transition: box-shadow 0.5s;
                i {
                  color: white;
                }
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }

          #JAVASCRIPT {
            height: 15rem;
            i {
              color: #f0c02b;
            }
            &:hover,
            &:active {
              .icon {
                cursor: pointer;
                background-color: #f0c02b;
                box-shadow: 0 0 2rem 0.5rem #ffd042;
                transition: box-shadow 0.5s;
                i {
                  color: white;
                }
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }

          #C {
            height: 15rem;
            filter: grayscale(50%);
            &:hover,
            &:active {
              filter: grayscale(0%);
              .icon {
                cursor: pointer;
                background-color: rgb(59, 204, 248);
                box-shadow: 0 0 2rem 0.5rem rgb(59, 204, 248);
                transition: box-shadow 0.5s;
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }

          #JAVA {
            height: 15rem;
            filter: grayscale(50%);
            &:hover,
            &:active {
              filter: grayscale(0%);
              .icon {
                cursor: pointer;
                background-color: white;
                box-shadow: 0 0 2rem 0.5rem white;
                transition: box-shadow 0.5s;
              }

              .Stitle {
                top: 100%;
                opacity: 1;
              }
            }
          }
        }
      }

      .frameworks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4rem;

        #BOOTSTRAP {
          i {
            color: white;
          }
          &:hover,
          &:active {
            .icon {
              cursor: pointer;
              background-color: #702df5;
              box-shadow: 0 0 2rem 0.5rem #af8bf7;
              transition: box-shadow 0.5s;
              i {
                color: white;
              }
            }

            .Stitle {
              top: 100%;
              opacity: 1;
            }
          }
        }
      }
      .PREPOCESSOR {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4rem;
        #SASS {
          i {
            color: #cd669a;
          }
          &:hover,
          &:active {
            .icon {
              cursor: pointer;
              background-color: #cd669a;
              box-shadow: 0 0 2rem 0.5rem #fa9aca;
              transition: box-shadow 0.5s;
              i {
                color: white;
              }
            }

            .Stitle {
              top: 100%;
              opacity: 1;
            }
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50vw solid var(--bg-before); /* Ancho del triángulo (mitad del ancho de la pantalla) */
      border-right: 50vw solid var(--bg-before); /* Ancho del triángulo (mitad del ancho de la pantalla) */
      border-top: 100px solid transparent;
      transition: all 0.5s ease-in-out;
    }
  }

  .Projects {
    position: relative;
    padding: 0 10%;

    .FondoProjects{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease-in-out;
      z-index: -1;
    }

    #fondoP1 {
      background: linear-gradient(to top, $bg-secundary, $bg-primary);/* Degradado por defecto */
      opacity: 1;
  }
    
    #fondoP2 {
      background: linear-gradient(to top, rgb(240, 240, 240), $bg-primary-light); /* Nuevo degradado */
      opacity: 0;
    }

    #MY {
      text-align: center;
      font-family: "Kenia", sans-serif;
      font-size: 5rem;

      span {
        font-family: "Kenia", sans-serif;
      }

      #D {
        color: $main-color;
      }
    }

    .projects-container {
      margin-top: 1.5rem;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      .owl-carousel-1 {
        display: flex;
        flex-wrap: wrap;

        .item {
          display: flex;
          justify-content: center;
        }

        .card {
          margin: 2rem;
          color: $text-color;
          background-image: url("../img/ProjectPortfolio.png");
          background-size: 31rem 43rem;
          background-repeat: no-repeat;
          background-position: center;
          padding: 16rem 0 0;
          border: none;
          width: 100%;
          height: 43rem;
          max-width: 50ch;
          border-radius: 1rem;
          overflow: hidden;
          transition: all 0.3s ease-in-out;

          .card-container {
            border-radius: 1rem;
            background: linear-gradient(
              to top,
              rgb(0, 0, 0),
              rgba(0, 0, 0, 0.9),
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.4)
            );

            transform: translateY(85%);
            transition: transform 0.5s ease-in-out;
            height: 100vh;

            .card-body {
              width: 100%;
              text-align: center;

              .card-title {
                font-weight: bold;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  height: 0.4rem;
                  background-color: $main-color;
                  width: 120%;
                  left: -1.5rem;
                  bottom: 0;
                  transform: scaleX(0);
                  transition: all 0.3s ease-in-out;
                }
              }

              .card-title {
                font-size: 2.5rem;
              }

              .card-text {
                opacity: 0;
                transition: opacity 1s ease-in-out;
                font-size: 1.1rem;
                text-align: justify;
              }

              #Spans {
                opacity: 0;
                transition: opacity 1s ease-in-out;
                transition-delay: 500ms;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                gap: 0.5rem;

                span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 0.3rem;
                  gap: 0.5rem;
                }

                #SpHTML {
                  background-color: #e44d26;
                  border-radius: 0.5rem;
                }

                #SpCSS {
                  background-color: #2d92cd;
                  border-radius: 0.5rem;
                }
                #SpJavascript {
                  background-color: #f0c02b;
                  border-radius: 0.5rem;
                }
                #SpBootstrap {
                  background-color: #702df5;
                  border-radius: 0.5rem;
                }
                #SpSASS {
                  background-color: #cd669a;
                  border-radius: 0.5rem;
                }
                #SpJSON {
                  background-color: #4e4e4e;
                  border-radius: 0.5rem;
                }
                #SpjQuery {
                  background-color: #0768AC;
                  border-radius: 0.5rem;
                }
              }

              #Enlaces {
                display: flex;
                width: 100%;
                justify-content: center;
                position: relative;

                a {
                  display: inline-flex;
                  margin: 0 0.8rem;
                  margin-top: 2rem;
                  text-decoration: none;
                  justify-content: center;
                  align-items: center;
                  width: 4rem;
                  height: 4rem;
                  background: transparent;
                  border: solid 0.2rem $main-color;
                  border-radius: 50%;
                  transition: 0.5s;
                  transition: box-shadow 0.3s ease;
                  opacity: 0;
                  transition: opacity 1s ease-in-out;
                  transition-delay: 1s;
                  color: $main-color;

                  i {
                    font-size: 2.5rem;
                  }

                  &:hover,
                  &:active {
                    box-shadow: 0 0 1rem 0.5rem $main-color;
                    color: $text-color;
                  }
                }
              }
            }
          }

          &:hover,
          &:active {
            box-shadow: 0 0 1rem 0.5rem $main-color;
            transform: scale(1.05);
            cursor: pointer;
            transition-duration: 0ms;

            .card-container,
            .card:focus-within .card-container {
              transform: translateY(0%);
              transition-delay: 250ms;
              .card-body {
                .card-title {
                  &::after {
                    transform: scaleX(1);
                  }
                }
                .card-text {
                  opacity: 1;
                }

                #Spans {
                  opacity: 1;
                }

                #Enlaces {
                  a {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }

      .viewm {
        display: flex;
        flex-wrap: wrap;

        #viewmp {
          a {
            border: solid 0.2rem $main-color;
            position: relative;
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 25rem;
            height: 100%;
            border-radius: 1rem;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
            transition: 0.3s;
            transition: box-shadow 0.3s ease;
            color: $main-color;
            text-decoration: none;

            &:hover,
            &:active {
              box-shadow: 0 0 3rem $main-color;
              color: $text-color;
              background: linear-gradient(to bottom, $main-color, #009cd9);
            }
          }
        }
      }
    }
  }

  .Contact {
    min-height: auto;
    position: relative;
    padding: 0 10%;
    padding-top: 10rem;
    padding-bottom: 3rem;

    .FondoContact{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.5s ease-in-out;
      z-index: -1;
    }

    #fondoC1 {
      background: linear-gradient(to bottom, $bg-secundary, $bg-primary);/* Degradado por defecto */
      opacity: 1;
  }
    
    #fondoC2 {
      background: linear-gradient(to bottom, rgb(240, 240, 240), rgb(150, 150, 150)); /* Nuevo degradado */
      opacity: 0;
    }

    #contact {
      text-align: center;
      font-family: "Kenia", sans-serif;
      font-size: 5rem;

      span {
        font-family: "Kenia", sans-serif;
      }

      #C {
        color: $main-color;
      }
    }

    form {
      max-width: 70rem;
      margin: 1rem auto;
      text-align: center;

      .input-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .input-field {
          background-color: rgba(14, 35, 54, 0.25);
          position: relative;
          width: 49%;
          margin: 0.8rem 0;

          input {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 1.5rem;
            font-size: 1.6rem;
            color: $text-color;
            background: transparent;
            border-radius: 0.6rem;
            border: solid $main-color 2px;
            z-index: 2;

            &::placeholder {
              color: $text-color;
            }

            &:focus,
            &:valid {
              ~ .focus {
                width: 100%;
              }
            }
          }

          .focus {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: $bg-secundary;
            z-index: 1;
            transition: 0.5s;
          }
        }
      }

      .textarea-field {
        position: relative;
        margin: 0.8rem 0 2.7rem;
        display: flex;

        textarea {
          position: relative;
          background-color: rgba(14, 35, 54, 0.25);
          width: 100%;
          height: 100%;
          padding: 1.5rem;
          font-size: 1.6rem;
          color: $text-color;
          border-radius: 0.6rem;
          resize: none;
          border: solid $main-color 2px;
          z-index: 2;

          &::placeholder {
            color: $text-color;
          }

          &:focus,
          &:valid {
            ~ .focus {
              width: 100%;
            }
          }
        }

        .focus {
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background: $bg-secundary;
          z-index: 1;
          transition: 0.5s;
        }
      }

      .btn-box {
        margin-top: 3rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 5rem;
        justify-content: center;

        .btn {
          position: relative;
          width: 15rem;
          height: 100%;
          border: solid 0.2rem $main-color;
          border-radius: 1rem;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 0.1rem;
          color: $main-color;
          transition: 0.3s;
          transition: box-shadow 0.3s ease;

          &:hover,
          &:active {
            box-shadow: 0 0 2.5rem $main-color;
            color: $text-color;
            background: linear-gradient(to bottom, $main-color, #009cd9);
          }
        }
      }
    }
  }

  .footer {
    color: $text-color;
    background-color: $bg-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;

    .footer-text {
      p {
        font-size: 1.2rem;
      }
    }

    .footer-iconTop {
      a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        background: $main-color;
        border: solid 0.2rem $main-color;
        border-radius: 0.6rem;
        text-decoration: none;
        z-index: 1;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background: $bg-secundary;
          transition: 0.5s;
          z-index: -1;
        }

        &:hover,
        &:active {
          &::before {
            width: 100%;
          }

          i {
            color: $main-color;
          }
        }

        i {
          font-size: 2.4rem;
          color: $bg-primary;
          transition: 0.5s;
        }
      }
    }
  }
}

@keyframes homeBgtext {
  0%,
  10%,
  100% {
    background-position: -50rem 0;
  }
  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homecursortext {
  0%,
  17%,
  100% {
    width: 0%;
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }
  75%,
  81% {
    opacity: 0;
  }
}

@keyframes RotationAbout {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes RotationAbout2 {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@media (max-width: 2560px) {
  html {
    font-size: 115%;
  }

  body {

    .About {
      padding-left: 2%;
      padding-right: 2%;

      .about-content {
        #carouselExample {
          .card {
            max-width: 100rem;

            .card-text {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1441px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 1401px) {
  html {
    font-size: 61%;
  }

  body {
    .header {
      #leng {
        left: 58rem;
      }

      #Btheme{
        left: 52rem;
      }
    }

  }
}

@media (max-width: 1201px) {
  html {
    font-size: 46%;
  }

  body {
    .header {
      #leng {
        left: 80rem;
      }

      #Btheme{
        left: 73rem;
      }
    }

  }
}

@media (max-width: 1025px) {
  body {
    .header {
      #leng {
        left: 58rem;
      }

      #Btheme{
        left: 51rem;
      }
    }

  }
}

@media (max-width: 991px) {
  body {
    .header {
      padding: 0 4%;
      
      .navbar-toggler {
        display: block;
        position: relative;
      }

      .navbar {
        position: absolute;
        top: 90%;
        left: 0;

        #navbar {
          width: 100vw;
          height: 100%;
          background-color: #0c16217d;
          backdrop-filter: blur(5px);
          .navbar-nav {
            padding: 5rem 4%;
            .nav-item {
              .nav-link {
                transition: 0.3s;
                transition: text-shadow 0.3s ease;

                &:hover {
                  color: $main-color;
                  text-shadow: 0 0 1rem $main-color, 0 0 2rem $main-color,
                    0 0 3rem $main-color;
                }
              }

              .active {
                color: $main-color;
                text-shadow: 0 0 10px $main-color, 0 0 20px $main-color,
                  0 0 30px $main-color;
              }
            }
          }
        }
      }

      #leng {
        left: 85rem;
      }

      #Btheme{
        left: 78rem;
      }
    }

    .Home {
      height: 110rem;
      padding: 15rem 4%;
      flex-direction: column-reverse;

      .ImgF {
        margin-top: 5rem;
        .Foto {
          width: 34rem;
          height: 34rem;

          img {
            width: 30rem;
            height: 30rem;
          }
        }
      }

      .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-animate {
          display: flex;
          justify-content: center;
        }

        p {
          text-align: center;
        }
      }

      .btn-box {
        width: 45rem;
        .btn {
          width: 20rem;
          font-size: 2.25rem;
        }
      }

      .home-rds {
        gap: 5rem;
        bottom: -40%;
        justify-content: center;
        a {
          width: 6rem;
          height: 6rem;

          i {
            font-size: 4rem;
          }
        }
      }
    }

    .About {
      padding: 12rem 2rem;

      .about-content {
        #carouselExample {
          .card {
            max-width: 100rem;

            .card-text {
              font-size: 2rem;
            }
          }
        }
      }
    }

    .footer {
      padding: 0 4%;
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  body {
    .header {
      #leng {
        left: 78rem;
      }

      #Btheme{
        left: 72rem;
      }

      
    }

    .About {
      padding-left: 2%;
      padding-right: 2%;

      .about-content {
        #carouselExample {
          .card {
            max-width: 100rem;

            .card-text {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 577px) {
  html {
    font-size: 42%;
  }

  body {
    .header {
      #leng {
        left: 50rem;
      }

      #Btheme{
        left: 44rem;
      }
    }
  }
}

@media (max-width: 426px) {
  html {
    font-size: 40%;
  }

  body{.Home {
      height: 116rem;

      .home-content {
        h1 {
          display: flex;
          flex-direction: column;
          align-items: center;

        }

        p {
          font-size: 2rem;
        }

        .btn-box {
          width: 45rem;
          .btn {
            width: 20rem;
            font-size: 2.25rem;
          }
        }
      }

      .home-rds {
        a {
          width: 8rem;
          height: 8rem;

          i {
            font-size: 4rem;
          }
        }
      }
    }

    .About {
      padding-left: 1.5%;
      padding-right: 1.5%;

      .about-content {
        #carouselExample {
          .card {
            max-width: 100rem;

            .card-text {
              font-size: 1.8rem;
            }
          }
        }
      }
    }

    .SKills {
      padding-bottom: 15rem;
  }}

  
    
}

@media (max-width: 375px) {
  html {
    font-size: 30%;
  }

  body {
    .header {
      #leng {
        left: 60rem;
      }

      #Btheme{
        left: 53rem;
      }
    }

    .Home {
      .home-content {
        p {
          font-size: 2.8rem;
        }
      }
    }

    .Home{
      height: 120rem;
    }

    .About {
      padding-left: 4%;
      padding-right: 4%;

      .about-content {
        #carouselExample {
          .card {
            max-width: 100rem;

            .card-text {
              font-size: 2.3rem;
            }
          }
        }
      }
    }

    .SKills {
      padding-bottom: 12rem;
  }
  }
}

@media (max-width: 320px) {

  html {
    font-size: 25%;
  }

  body {
    .header {
      #leng {
        left: 64rem;
      }

      #Btheme{
        left: 58rem;
      }
    }
    
    .Home {
      .home-content {

        .btn-box {
          width: 45rem;
          .btn {
            width: 22rem;
            font-size: 2.4rem;
          }
        }
      }

      .home-rds {
        a {
          width: 10rem;
          height: 10rem;

          i {
            font-size: 5rem;
          }
        }
      }
    }

    .About {
      padding-left: 6%;
      padding-right: 6%;
      .about-content {
        .carousel-control-prev {
          left: -5rem;
        }
        .carousel-control-next {
          right: -5rem;
        }

        #carouselExample {
          .card {
            max-width: 100rem;

            .card-text {
              font-size: 2.5rem;
            }
          }
        }
      }
    }

    .Contact {
      form {
        .input-box {
          .input-field {
            width: 100%;
          }
        }
      }
    }

    .footer {
      flex-direction: column-reverse;

      p {
        padding: 2rem;
      }
    }
  }
}


